<form action="/favourites" method="POST" class="mt-2">
  <input type="hidden" name="_id" value="<%= home._id %>">
  <button
    type="submit"
    class="inline-block px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-sm font-medium rounded-lg shadow transition duration-200"
  >
    Add to Favourite
  </button>
</form>
